body{
font-family:Arial;
background:#f4f6f9;
}

.container{
width:70%;
margin:40px auto;
padding:30px;
background:white;
border-radius:10px;
box-shadow:0 0 10px gray;
}

h1,h2{
text-align:center;
color:#1E88E5;
}

input[type=text]{
width:90%;
padding:10px;
margin:10px;
border:1px solid gray;
border-radius:5px;
}

button{
padding:10px 20px;
background:#1E88E5;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#1565C0;
}

#examSection{
display:none;
}

#resultSection{
display:none;
text-align:center;
}